tbody tr[data-scrolled-to-row] td {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.multiselect-group label span {
    word-wrap: break-word;
    max-width: 250px;
}

.button.remains {
    color: black;
    background-color: var(--red-light);
    border: 1px solid transparent;

    &:hover {
        background-color: var(--red-bright);
        border-color: var(--red-medium);
    }
}

.button.resolved {
    color: black;
    background-color: var(--green-light);
    border: 1px solid transparent;

    &:hover {
        background-color: var(--green-bright);
        border-color: var(--green-medium);
    }
}

.button.partly-resolved {
    color: black;
    background-color: var(--yellow-light);
    border: 1px solid transparent;

    &:hover {
        background-color: var(--yellow-bright);
        border-color: var(--yellow-medium);
    }
}

.file-input.zone {
    min-width: 20rem;
    width: 100%;
    min-height: 20rem;
    border: 2px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    &.file-hover {
        border: solid;
        border-color: var(--blue-light);
        background-color: var(--blue-dark);
        color: white;

        label,
        input {
            display: none;
        }

        &::before {
            content: "Drop file to process!";
        }
    }

    &.processing {

        label,
        input {
            display: none;
        }

        &::before {
            content: "Processing file"
        }
    }
}

.bg-white:has(> .file-input) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

    [role="status"] {
        font-size: 1.4rem;
    }
}



/* filter multiselect with settings */
.toolbox-augmentor {
    &.multiselect-group {
        display: grid;
        grid-template-areas:
            "title title"
            "sort settings"
            "checkbox checkbox";

        .group-title {
            grid-area: title;
        }

        .show-only {
            grid-area: sort;
        }

        .settings {
            grid-area: settings;
            align-self: center;
            justify-self: flex-end;
            position: relative;
        }

        .filtering-group {
            grid-area: checkbox;
            align-self: center;
            justify-self: unset;
        }


    }

    .disclosure.floating  {
        position: relative;

        .controller {
            z-index: 11;
            position: relative;
        }

        .controlled {
            position: absolute;
            z-index: 10;
            background: white;
            transform: translate(-95%, 0rem);
            left: 100%;
            top: 0;
            box-shadow: 0px 6px 10px -5px #777;
            padding: 0.5rem;
            border: 1px solid black;
            padding-top: 1.9rem;
            box-sizing: border-box;
        }
    }

    .medium-icon {
        font-size: 1.4rem;
    }
}