.combobox-container *:focus {
    outline-offset: 0.35rem;
    outline-width: 0.25rem;
}

.combobox-widget {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    height: 3rem;
}

.combobox-widget * {
    box-sizing: border-box;
}

.combobox-widget button {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    height: 100%;
    margin-top: 0.15rem;
}

.combobox-widget button:hover {
    
    background-color: #E1E1E1;
}

[role="listbox"] {
    position: absolute;
    transform: translate(0 100%);
    z-index: 100;
    background: white;
    overflow-y: scroll;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
}

[role="listbox"] [role="option"] {
    border-bottom: 1px solid black;
    padding: 0.3rem;
    cursor: pointer;
}

[role="listbox"] [role="option"]:hover {
    background-color: #E1E1E1;
}

[role="listbox"] [role="option"].selected {
    font-weight: bold;
}

[role="listbox"] [role="option"]:nth-child(even):not(:focus, :hover) {
    background-color: #EFEFEF;
}

[role="listbox"] [role="option"]:focus {
    outline: none;
    color: #EFEFEF;
    background-color: #333;
}

[role="combobox"],
.combobox-click-helper,
.combobox-clear {
    border: 1px solid black;
    min-height: 2rem;
}

.combobox-click-helper,
.combobox-clear {
    position: relative;
    padding: 0;
    margin: 0;
    width: 2rem;
    border-left: none;
}

.combobox-click-helper::before {
    content: ">";
}

.combobox-widget:has([role="listbox"]:not([hidden])) .combobox-click-helper::before {
    content: "v";
}

.combobox-clear {
    background-color: transparent;
    border-left: none;
}